.container-box {
    width: 20rem;
    border: 1px solid black;
    padding: 8px;
    margin-top: 20%;
    background-color: white;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 800px 600px;
}
